@page "/todolist"
@inject HttpClient Http

<PageTitle>To Do List</PageTitle>

<h1>To Do List</h1>


@if (toDoItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Task</th>
                <th>Assigned To</th>
                <th>Date Due</th>
                <th>Status</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var toDoItem in toDoItems)
            {
            <tr>
                <td>@toDoItem.Task</td>
                <td>@toDoItem.Owner</td>
                <td>@toDoItem.DateDue</td>
                <td>@toDoItem.Status</td>
                <td>@toDoItem.Comments</td>
            </tr>
            }
        </tbody>
    </table>
}
